.App {
  text-align: left;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.makeStyles-paper-14 {
  display: flex;
  padding: 16px;
  overflow: auto;
  text-align: l;
  flex-direction: column;
  text-align: left;
}


.MuiButton-outlinedPrimary {
  color: #90caf9;
  border: 1px solid rgba(144, 202, 249, 0.5);
  max-width: 250px;
}

.MuiButtonBase-root {
  justify-content: left;
  }

.form-label {
  font-size: 16px;
  padding: 13px 0px;
}